<nav class="navbar navbar-expand-lg custom-navbar navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand fw-bold text-uppercase text-orange" href="/">Shopping App</a>

    <button class="navbar-toggler custom-toggler" type="button" data-bs-toggle="collapse" 
      data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/products">Home</a>
        </li>

        <% if(currentUser && currentUser.role === 'seller'){ %>
        <li class="nav-item">
          <a class="nav-link" href="/product/new">+ New Product</a>
        </li>
        <% } %>
      </ul>

      <div class="d-flex align-items-center">
        <% if(!currentUser){ %>
          <a href="/login" class="btn btn-outline-primary mx-2">Login</a>
          <a href="/register" class="btn btn-primary mx-2">Register</a>
        <% } else { %>
          <span class="navbar-text me-3">👋 Hello, <%= currentUser.username %></span>

          <a href="/user/cart" class="btn btn-outline-primary position-relative mx-2">
            <i class="fa-solid fa-cart-shopping"></i>
            <% if(currentUser.cart.length > 0){ %>
              <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                <%= currentUser.cart.length %>
              </span>
            <% } %>
          </a>

          <a href="/logout" class="btn btn-primary mx-2">Logout</a>
        <% } %>
      </div>
    </div>
  </div>
</nav>
