<% layout('layouts/boilerplate') %>
    <%- include('./partials/navbar.ejs') %>


        <div class="aler alert-danger" role="alert">
            <%=err%>
           
        </div>

        </body>

        </html>